.component1Child {
  height: 102px;
  width: 1440px;
  position: relative;
  display: none;
  max-width: 100%;
}
.frameChild {
  position: absolute;
  height: 100%;
  width: 42.85%;
  top: 0;
  right: 57.15%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bulls {
  margin: 0;
  position: absolute;
  height: 53.07%;
  width: 62.6%;
  top: 31.84%;
  left: 37.4%;
  font-size: inherit;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.frameParent {
  margin-left: -554px;
  height: 131.9px;
  width: 508px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
  font-size: var(--font-size-50xl);
  color: var(--color-black);
  font-family: var(--font-ribeye);
}
.frameItem {
  width: 68px;
  height: 1px;
  position: relative;
  background-color: var(--gray-1);
}
.main {
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-transform: uppercase;
}
.mainWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
}
.frameInner {
  width: 68px;
  height: 1px;
  position: relative;
  background-color: var(--gray-1);
}
.component1Inner,
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  align-self: stretch;
  gap: var(--gap-9xs-8);
  cursor: pointer;
  z-index: 1;
}
.component1Inner {
  width: 82px;
  padding: var(--padding-lgi-8) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.about,
.utility {
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.about {
  line-height: 13px;
  min-width: 51px;
}
.utility {
  width: 76px;
  line-height: 12px;
  flex-shrink: 0;
}
.aboutParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
}
.aboutParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv {
  width: 211px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl-7) var(--padding-4xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.overview {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}
.overviewWrapper {
  width: 126px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-10xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.team {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}
.component1,
.teamWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.teamWrapper {
  width: 79px;
  flex-direction: column;
  padding: var(--padding-5xl-7) 0 0;
  flex-shrink: 0;
}
.component1 {
  align-self: stretch;
  height: 102px;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-250xl) var(--padding-21xl-8)
    var(--padding-516xl);
  gap: var(--gap-27xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--gray-1);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .component1 {
    padding-left: var(--padding-248xl);
    padding-right: var(--padding-115xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .aboutParent {
    display: none;
  }
  .frameDiv {
    width: 9px;
  }
}
@media screen and (max-width: 750px) {
  .component1 {
    gap: var(--gap-4xl);
    padding-left: var(--padding-114xl);
    padding-right: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .component1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
